@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
  .inventory__id-block {
    padding: 15px;
  }
  .inventory__item-block {
    padding: 5px 0;
  }
  .inventory__item-image {
    margin-right: 15px;
    width: initial;
  }
  .inventory__docs span,
  .inventory__id-num span {
    display: block;
  }
  .inventory__date,
  .inventory__docs,
  .inventory__id-num {
    line-height: 23px;
  }
  .inventory__day-info,
  .inventory__id-info {
    align-items: center;
  }
  .inventory__item-total,
  .invetory__item-quantprice {
    font-size: 1em;
  }
  .inventory__item-image img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 340px) {
  body {
    font-size: 12px;
  }
  .la-ruble-sign {
    vertical-align: unset;
  }
  .inventory__item-info {
    display: block;
    ine-height: 18px;
  }
  .inventory__item-total {
    text-align: left;
  }
  .invetory__item-quantprice {
    width: 100%;
  }
}
